<%- include("partials/header.ejs") %>

<main>
    <h1 class="main__title">About us</h1>
    <p class="main__text">This is a place where you can share your thoughts and ideas with the world. Start by creating a new post or explore the library to read what others have written.</p>
</main>

<%- include("partials/footer.ejs") %>